<!doctype html>

<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Salman Siddiqui</title>
  <meta name="description" content="Personal website of Salman Siddiqui">
  <meta name="author" content="Salman Siddiqui">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="/assets/css/main.css">
  <link rel="stylesheet" href="/assets/css/navbar.css">
  <link rel="stylesheet" href="/assets/css/post.css">
</head>

<body>
  <!--[if lte IE 9]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
  <![endif]-->

  <header>
    <nav id="navbar">
      <span class="navbar-toggle">
        <img id="nav-menu-toggle" src="/assets/img/nav-menu-bars.svg">
      </span>
      <a class="nav-logo" href="/">Salman Siddiqui</a>
      <ul id="nav-menu">
        <li><a class="nav-links" href="/projects/">Projects</a></li>
        <li><a class="nav-links" href="/blog/">Blog</a></li>
      </ul>
    </nav>
  </header>

  <main>
    <h1>{{ title }}</h1>
    <div>
      {{ content | safe }}
    </div>
  </main>

  <img onclick="topFunction()" id="scroll-btn" src="/assets/img/scroll-to-top-arrow.png">

  <script src="/assets/js/navbar.js"></script>
  <script src="/assets/js/main.js"></script>
</body>

</html>