---
layout: "base.njk"
title: "Hi, I'm Salman Siddiqui!"
---

<p>I'm an aspiring software engineer and a Computing Science Major at Simon Fraser University.</p>
<p>I'm interested in artificial intelligence (and it's societal impacts), exploring the outdoors and all things tech!</p>
<p>Connect with me on <a href="https://www.linkedin.com/in/salman-s/">LinkedIn.</a></p>
